body {
    margin: 0;
    min-height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: rgb(155, 189, 128);
}

.reloj{
    border: 1.5rem solid rgb(4, 11, 11);
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25vh;
    font-family: monospace;
    font-size: 5rem;
    color: rgba(11, 18, 18, 0.834);
}